.DS_Store
**/.DS_Store
.deploy_key
.deploy_key.pub
.vercel
node_modules
www
android/local.properties
android/keystore.properties
android/.gradle
android/app/build
android/build
*.jks
*.keystore
*.mobileprovision
*.xcarchive
*.ipa
ios/build
ios/DerivedData
fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/screenshots
fastlane/AuthKey_*.p8
.env.fastlane
